#cate {
    margin: 20px; }

h3 {
    font-size: 20px;  
    margin-left: 40px;
    width: 140px;
}
ul {
    list-style-type: none;
}

.color {
    font-weight: 700%;
    color:#6667AB;
}

a {
    text-decoration: none;
    outline: none;
    font-weight: 400%;
    color: #000000;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s; }

li {
    width: 180px;
    border: 1px solid #ebebeb;
    padding: 16px 20px;
    margin-bottom: 2px;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 13px; }
    li:focus, select:focus {
        border: 1px solid #6667AB; }
    li:hover {
        border:1px solid #6667AB;
    }


