.wrap {
    display: flex;
    justify-content: center; }

@font-face {
    src:url(../fonts/SCDream4.otf); 
    font-family: "SCDream4";
}    

a:focus, a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s; }
    
input, select, textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important; }
          
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0; }    
          
input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important; }
          
input:-webkit-autofill {
    box-shadow: 0 0 0 30px transparent inset;
    -moz-box-shadow: 0 0 0 30px transparent inset;
    -webkit-box-shadow: 0 0 0 30px transparent inset;
    -o-box-shadow: 0 0 0 30px transparent inset;
    -ms-box-shadow: 0 0 0 30px transparent inset; }    
    
input, select, textarea {
    display: inline-block;
    width: 100%;
    border: 1px solid #ebebeb;
    padding: 11px 20px;
    box-sizing: border-box;
    font-family: 'SCDream4';
    font-weight: 500;
    font-size: 13px; }
    input:focus, select:focus {
        border: 1px solid #6667AB; }
    
label {
    font-size: 14px;
    font-weight: bold;
    font-family: 'SCDream4';
    margin-bottom: 2px; }

p {
    font-family: 'SCDream4';
    font-weight: 500;
    font-size: 13px;
}

h3 {
    font-family: 'SCDream4';
    font-size: 20px;
    text-align: left; }
#sub {
    border-bottom: 1px solid #6667AB; 
}

textarea {
    height: 200px;
}
table {
    width: 600px;}
td {
    padding: 5px; }

.button {
    width: 140px;
    height: 40px;
    display: block;
    font-weight: 400;
    font-size: 13px;
    padding: 10px;
    border: none;
    cursor: pointer; 
    background: #6667AB;
    color: #fff; }
    .button:hover{
        background-color: #4b4b7a;}

#submit {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    }
#submitBtn {
    width: 140px;
    height: 40px;
    border: 1px solid #6667AB;
    background: #fff;
    color: #6667AB;
    margin-left: 5px; }
    #submitBtn:hover {
        background-color: #ebebeb; }
    